@model WebAppPlayers.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pteam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pteam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Pid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
